.search-bar {
    width: 250px;
    height: 25px; 
    border-radius: 8px;
}

.search-button {
    width: 25px;
    height: 25px;
}

.artist-name-box {
    height: 45px;
    width: 200px;
    background-color: rgb(53, 53, 243);
    text-align: center;
}

.artist-name {
    font-size: 24px;
    color: white;
    margin: 5px auto 0 auto;
}

.top-ten-box {
    height: 500px;
    width: 300px;
    background-color: wheat;
}