* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  background: url(../images/body_bg.jpg) center / cover ;
}

.hero {
  width: 100%;
  top: 0;
  left: 0;
}


.title {
  color: white;
}
.columns {
  margin: 0 0 0 20px;
  width: 100%;
}

.jukebox-container {
  justify-content: center;
  text-align: center;
  width: 400px;
}

.search-items {
  width: 90%;
  height: 30px;
  margin: 10px;
  border-radius: 8px;   
}

.search-button {
  width: 90%;
  height: 25px;
  margin: 10px;
  border-radius: 8px;
}

.favorites-container {
  
  background-color: rgb(215, 217, 218);
  /* overflow: auto; **/
  border-radius: 4px;
  border: 3px solid cadetblue;

}

.favorites-heading-box {
  background-color: black;
  position: sticky;
  text-align: center;
  border-radius: 4px;
}
.favorites-heading {
  font-size: 20px;
  color: white;
}

.favorite-song-text {
  margin: 3px 0 0 5px;
}

.favorite-song-text:nth-child(odd) {
  background-color: rgb(94, 252, 212);
}

.middle-column {
  justify-content: center;
}

.artist-image {
  border-style: double;
  border-width: 5px;
  border-radius: 150px;
  border-color: white;
  width: 300px;
  height: 300px;
  margin: 0 0 0 30px;
  justify-content: center;
}

.artist-name-box {
  height: 45px;
  width: 360px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 0 auto 15px auto;
  border-radius: 4px;
}

.artist-name {
  font-size: 34px;
  color: white;
  margin: 5px auto 0 auto;
}

.top-ten-box {
  height: 415px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
}

.top-ten-heading {
  text-decoration: underline 2px;
  text-align: center;
}

.top-ten-ol {
  margin: 10px 0 0 30px;
}

.top-ten-li {
  margin: 10px 0 0 0;
}

.top-ten-li:hover {
    transform: scale(.99)
}


.top-ten-li:nth-child(odd) {
  background-color: rgb(244, 253, 255);
}

.save-button {
  height: 20px;
  width: 25px;
  float: right;
  margin: 2px 2px 0 0;
  background-color: rgb(150, 208, 223);
  border-radius: 4px;
}

.save-button:visited {
    background-color:rgb(238, 238, 255);
}

.save-button:hover {
    transform: scale(.95);
}

.music-column {
    width: 100px;
}
.save-button:focus {
  background-color: rgb(238, 238, 255);
}

.save-button:hover {
  transform: scale(0.95);
}
